<div class="container">

    <div id="form_2">

        <h2>Register</h2>
        <form action="">
    
        <input type="text" name='fname' placeholder="First Name">&nbsp;
        <input type="text" name='lname' placeholder="Last Name"><br>

        <input type="text" name='uname' placeholder="Username">&nbsp;
        <input type="text" name='pass' placeholder="Password"><br>
        <input type="text" name='vpass' placeholder="Verify Password">&nbsp;
        <input type="text" name='email' placeholder="E-mail"><br>

        <input type="text" name='number' placeholder="Phone Number"> <br><br> &nbsp;

        <label for="campuses">Campus</label>
        <select name="" id="campuses">

            <option value=""></option>
            <option value="south">South</option>

        </select>
        <br><br>
        <label>Gender</label><br>

        <input class="input_gender" type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input class="input_gender" type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <input class="input_gender" type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>

        <br><br>
        <button class="buttons">Register</button>
        <br>
        <p>Already have an account?<span id="sign_link" routerLink='/login'>Sign in</span></p>
        
        <br>
        <br><br>
        </form>
    
    </div>

<app-footer></app-footer>

</div>



