.wrapper
{
    height:450px;
    background:white;
    max-width: 550px;
    border-radius: 7px;
    padding: 16px 25px;

   margin:1% auto;
}


@media (max-width:767px) {
    img {
       /*  max-width:500px; */
        max-height:20vh;
       /*  height="200px" width="500px" */
    }
    .wrapper
    {
        height:380px;
        background:white;
        max-width: 300px;
        border-radius: 7px;
        padding: 16px 25px;

        margin:1% auto;
    }
    
}

@media (min-width:768px) {
    img {
        /*  max-width:500px; */
         max-height:32.5vh;
        /*  height="200px" width="500px" */
     }
     .wrapper
     {
         height:480px;
         background:white;
         max-width: 460px;
         border-radius: 7px;
         padding: 16px 25px;
 
         margin:1% auto;
     }
}

@media (min-width:992px) {
    img {
        /*  max-width:500px; */
         max-height:40vh;
        /*  height="200px" width="500px" */
     }
     .wrapper
     {
         height:580px;
         background:white;
         max-width: 560px;
         border-radius: 7px;
         padding: 16px 25px;
 
         margin:1% auto;
     }
}

@media (min-width:1200px) {
    img {
        max-width: 100%;
        max-height:100vh;
    }
}





@media screen and (min-width:1024px) {
    .vac_card {
       flex:20%;
    }
  }
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px)
  {
    .vac_card
    {
      flex:35%;
    }
    
  }
  @media screen and (max-device-width:640px)
  {
    .vac_card
    {
      flex:50%;
    }
  } 
  
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    .vac_card
    {
      flex:100%;
    }
  }
  
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  
    .card{
      flex:50%;
    }
  
  }
  