

<div class="container">

  <div id="form_1">


    <div id="logo">

      <img src="../assets/logo.png"  width="400" alt="covid complaince logo">
    
    </div>

    <form action="">
  
      <input type="text" placeholder="Username"><br><br>
      <input type="text" placeholder="Password">
  
      <br><br>
      <button class="buttons">login</button>&nbsp;
      <button class="buttons">Forgot Password</button>

      <!--
      <input class="buttons" type="submit" value="Login">&nbsp;
      <input class="buttons" type="submit" value="Forgot Password">
        
      -->
      <p>Don`t have an account? <span id="sign_link" routerLink="/register">Sign Up</span></p>
  
    </form>
  
  </div>
  <app-footer></app-footer>




</div>

